<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail</title>
</head>
<body>
  <main>
    <div>
      <h1>{{ todo_object.name }}</h1>
    </div>
    <p>
      <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
      <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
    </p>
    <table>
      <thead>
        <th>Task</th>
        <th>Due date</th>
      </thead>
      <tbody>
        {% for item in todo_object.items.all %}
        <tr>
          <td><a href="{% url 'todo_item_update' todo_object.id %}">{{ item.task }}</a></td>
          <td>{{ item.due_date|date:"M j, Y" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
</html>
